table.BlueGrayTheme {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

table.BlueGrayTheme tr:nth-child(odd) {
    background-color: #CCCCCC;
}

table.BlueGrayTheme th {
    background-color: #006699;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

table.BlueGrayTheme th:first-child, td:first-child {
    padding-left: 8px;
}

table.BlueGrayTheme th:last-child, td:last-child {
    padding-right: 8px;
}