.CallToAction {
    max-width: 512px;
    border-radius: 24px;
    border: 2px solid white;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    padding: 0 16px 0 16px;
    background-color: #FF5722;
    color: white;
    white-space: nowrap;
}

.CallToAction:hover {
    background-color: #FF8A65;
}

.CallToAction:disabled {
    background-color: #FFCCBC;
    animation: none;
    -webkit-animation: none;
}

@media only screen and (max-width: 800px) {
    .CallToAction {
        font-size: 16px;
    }
}

@media only screen and (min-width: 800px) {
    .CallToAction {
        font-size: 24px;
    }
}
