.Card {
    min-height: 64px;
    padding: 16px;
    margin: 8px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}
