
/**
 * Based on this project by SteveJRobertson:
 * https://codepen.io/SteveJRobertson/pen/zxEwrK
 */

.Cube .front {
  transform: 
    translateZ(100px);
}

.Cube .back {
  transform: 
    rotateX(-180deg)
    translateZ(100px);
}

.Cube .right {
  transform:
    rotateY(90deg)
    translateZ(100px);
}

.Cube .left {
  transform:
    rotateY(-90deg)
    translateZ(100px);
}

.Cube .top {
  transform:
    rotateX(90deg)
    translateZ(100px);
}

.Cube .bottom {
  transform:
    rotateX(-90deg)
    translateZ(100px);
}

.CubeContainer {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto 40px;
/*  border: 1px solid #FFF;*/
  
  perspective: 1000px;
  perspective-origin: 50% 100%;
}

.Cube {
  width: 100%;
  height: 100%;
  top: 100px;
  position: absolute;
  
  transform-style: preserve-3d;
  
  transition: transform 6s;
}

.Cube:hover {
  cursor: pointer;
}

.Cube div {
  background: hsla(0, 85%, 50%, 0.8);
/*  display: block;*/
  position: absolute;
  width: 200px;
  height: 100px;
  border: 2px solid #ab1a1a;
  
  margin: 0 auto;  
  
  font-family: Arial, Helvetica, sans-serif;
/*  font-size: 500%;*/
  color: white;
  text-align: center;
  padding: 50px 0;
}

