.Dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    max-width: 512px;
}

.Dropdown button {
    min-height: 32px;
    line-height: 32px;
}

.Dropdown .DropdownContent {
    display: none;
}

.Dropdown.Active .DropdownContent {
    display: flex;
}

.DropdownContent li {
    min-height: 24px;
    line-height: 24px;
}