button.FAB {
    background-color: #2196F3;
    color: white;
    position: absolute;
    bottom: 16px;
    right: 16px;
    min-width: 48px;
    width: 48px;
    min-height: 48px;
    height: 48px;
    border-radius: 24px;
    outline: none;
    border: none;
}

button.FAB:hover:not(:disabled) {
    cursor: pointer;
}

button.FAB:disabled {
    background-color: grey;
}