.FlexColumn {
    display: flex;
    flex-direction: column;
}

.FlexRow {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.FlexExpand {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.FlexShrink {
    display: flex;
    flex-shrink: 1;
}

.FlexNoShrink {
    flex-shrink: 0;
}

.FlexVerticalAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.FlexWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
}