.Menu:hover {
    cursor: pointer;
    position: relative;
}

.MenuButton {
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .Menu .MenuContent {
        display: none;
    }

    .Menu .MenuButton {
        display: flex;
    }

    .Menu:hover .MenuContent, .MenuContent:hover {
        display: flex;
        position: absolute;
        z-index: 1;
        right: 0;
    }
}

@media only screen and (min-width: 800px) {
    .Menu .MenuContent {
        display: flex;
    }

    .Menu .MenuButton {
        display: none;
    }
}