.Relative {
    position: relative;
}

.TopRight {
    top: 16px;
    right: 16px;
    margin: 0;
    position: absolute;
}

.BottomRight {
    bottom: 16px;
    right: 16px;
    margin: 0;
    position: absolute;
}

.TopLeft {
    top: 16px;
    left: 16px;
    margin: 0;
    position: absolute;
}

.BottomLeft {
    bottom: 16px;
    left: 16px;
    margin: 0;
    position: absolute;
}

.MiddleRight {
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto 0 auto 0;
    position: absolute;

    height: 32px;
}

.MiddleLeft {
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto 0 auto 0;
    position: absolute;

    height: 32px;
}
