@media only screen and (max-width: 800px) {
    .NarrowOnly {
        display: flex !important;
    }

    .RowCollapsible {
        flex-direction: column !important;
    }

    .WideOnly {
        display: none !important;
    }
}

@media only screen and (min-width: 800px) {
    .WideOnly {
        display: flex !important;
    }

    .NarrowOnly {
        display: none !important;
    }
}

.RowCollapsible {
    display: flex;
    flex-direction: row;
}