.DropShadow, .HoverShadow:hover {
    -webkit-box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),
        0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),
        0 6px 20px 0 rgba(0,0,0,0.19);
}