/* The switch - the box around the slider */
.Switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 16px;
}

.Switch {
  width: 64px;
  min-width: 64px;
}

/* Hide default HTML checkbox */
.Switch input {display:none;}

/* The slider */
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 64px;
  border-radius: 34px;


}

.Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .Slider {
  background-color: #2196F3;
}

input:focus + .Slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
